body {
  font-family: Helvetica, Arial, Sans-Serif;
  margin: 1em;
}
.form-group {
  display: table-row;
}
.form-group > label {
  display: table-cell;
  padding: 0.5em 1em;
}
.form-group > .input {
  display: table-cell;
  width: 100%;
  padding: 0.5em;
}
#content {
  margin-top: 2em;
  padding: 0;
}
#content > li {
  margin-top: 0.5em;
  list-style-type: none;
}
#content > li > a {
  text-decoration: none;
}
#content > li > a:hover {
  text-decoration: underline solid currentColor;
}
#content > li > a > span {
  margin: 0 0.5em;
  color: #000;
  text-decoration: inherit;
}